<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.ClassInformationMapper">
	
	<select id="retrieveClassInformationList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationList */
		       A.CLS_ID                     AS "classID"
		     , A.DEPT_ID                    AS "departmentID"
		     , B.DEPT_NM                    AS "departmentName"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , C_YEAR                       AS "year"
		     , C_TIME                       AS "time"
		     , GENR                         AS "generation"
		     , SEMESTER                     AS "semester"
		     , A.STCD                       AS "statusCode"
		  FROM FRST.CLS_INFO A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.STCD <> '09'
		 WHERE (CLS_NM ILIKE '%' || COALESCE(#{searchKeyword}, '') || '%'
		    OR CLS_DESC ILIKE '%' || COALESCE(#{searchKeyword}, '') || '%')
		   AND ('' = COALESCE(#{departmentID}, '') OR A.DEPT_ID = #{departmentID})
		 ORDER BY A.LAST_CHNG_DT DESC 
		        , A.LAST_CHNG_TIME DESC 
		 LIMIT #{limit}
		OFFSET #{offset}
		]]>
	</select>
	
	<select id="retrieveClassInformationTotalCount" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationTotalCount */
		       COUNT(*)                      AS "totalCount"
		  FROM FRST.CLS_INFO A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.STCD <> '09'
		 WHERE (CLS_NM ILIKE '%' || COALESCE(#{searchKeyword}, '') || '%'
		    OR CLS_DESC ILIKE '%' || COALESCE(#{searchKeyword}, '') || '%')
		   AND ('' = COALESCE(#{departmentID}, '') OR A.DEPT_ID = #{departmentID})
		   AND A.STCD <> '09'
		]]>
	</select>
	
	<select id="retrieveLastClassID" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveLastClassID */
		       CLS_ID                AS "classID"
		  FROM FRST.CLS_INFO A
		 ORDER BY CLS_ID DESC
		 LIMIT 1
		]]>
	</select>
	
	<select id="retrieveClassInformationDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationDetail */
		       A.CLS_ID                     AS "classID"
		     , A.DEPT_ID                    AS "departmentID"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , A.STCD                       AS "statusCode"
		  FROM FRST.CLS_INFO A
		 WHERE A.CLS_ID = #{classID}
		   AND A.DEPT_ID = #{departmentID}
		]]>
	</select>
	
	<insert id="registerClassInformation">
		<![CDATA[
		INSERT /* RegisterClassInformation */
		  INTO FRST.CLS_INFO
		     ( CLS_ID
		     , DEPT_ID 
		     , CLS_NM 
		     , CLS_DESC 
		     , STCD
		     , C_YEAR
		     , GENR
		     , C_TIME
		     , SEMESTER
		     , FRST_REG_DT
		     , FRST_REG_TIME
		     , LAST_CHNG_DT
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{classID}
		     , #{departmentID}
		     , COALESCE(#{className}, '')
		     , COALESCE(#{classDesc}, '')
		     , COALESCE(#{statusCode}, '')
		     , COALESCE(#{cyear}, '')
		     , COALESCE(#{generation}, '')
		     , COALESCE(#{ctime}, '')
		     , COALESCE(#{semester}, 0)
		     , COALESCE(#{firstRegisterDate}, '')
		     , COALESCE(#{firstRegisterTime}, '')
		     , COALESCE(#{lastChangeDate}, '')
		     , COALESCE(#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateClassInformation">
		<![CDATA[
		UPDATE /* UpdateClassInformation */
		       FRST.CLS_INFO 
		   SET DEPT_ID = COALESCE(#{departmentID}, DEPT_ID)
		     , CLS_NM = COALESCE(#{className}, CLS_NM)
		     , CLS_DESC = COALESCE(#{classDesc}, CLS_DESC)
		     , C_YEAR = COALESCE(#{cyear}, C_YEAR)
		     , GENR = COALESCE(#{generation}, GENR)
		     , C_TIME = COALESCE(#{ctime}, C_TIME)
		     , SEMESTER = COALESCE(#{semester}, SEMESTER)
		     , LAST_CHNG_TIME = COALESCE(#{lastChangeTime}, LAST_CHNG_TIME)
		 WHERE CLS_ID = #{classID}
		   AND DEPT_ID = #{departmentID}
		]]>
	</update>

</mapper>
