<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.ClassInformationMapper">
	
	<select id="retrieveClassInformationList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationList */
		       A.CLS_ID                     AS "classID"
		     , A.CLS_INFO_ID                AS "classInfoID"
		     , A.DEPT_ID                    AS "departmentID"
		     , B.DEPT_NM                    AS "departmentName"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , A.C_YEAR                     AS "year"
		     , A.SEMESTER                   AS "semester"
		     , A.GENR                       AS "generation"
		     , A.STCD                       AS "statusCode"
		     , A.FRST_REG_DT                AS "firstRegisterDate"
		     , A.FRST_REG_TIME              AS "firstRegisterTime"
		     , A.LAST_CHNG_DT               AS "lastChangeDate"
		     , A.LAST_CHNG_TIME             AS "lastChangeTime"
		  FROM FRST.CLS_INFO A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.STCD <> '02'
		 WHERE (CLS_NM ILIKE '%' || COALESCE(#{searchKey}, '') || '%'
		    OR CLS_DESC ILIKE '%' || COALESCE(#{searchKey}, '') || '%')
		   AND ('' = #{departmentID} OR A.DEPT_ID = #{departmentID})
		   AND ('' = #{year} OR A.C_YEAR = #{year})
		   AND ('' = #{generation} OR A.GENR = #{generation})
		   AND ('' = #{semester} OR A.SEMESTER = #{semester})
		   AND ('' = #{classID} OR A.CLS_ID = #{classID})
		   AND A.STCD <> '02'
		 ORDER BY A.STCD
		        , A.DEPT_ID 
		        , A.CLS_ID DESC
		        , A.C_YEAR DESC 
		        , A.SEMESTER DESC 
		 LIMIT #{limit}
		OFFSET #{offset}
		]]>
	</select>
	
	<select id="retrieveClassInformationTotalCount" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationTotalCount */
		       COUNT(*)                      AS "totalCount"
		  FROM FRST.CLS_INFO A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.STCD <> '02'
		 WHERE (CLS_NM ILIKE '%' || COALESCE(#{searchKey}, '') || '%'
		    OR CLS_DESC ILIKE '%' || COALESCE(#{searchKey}, '') || '%')
		   AND ('' = #{departmentID} OR A.DEPT_ID = #{departmentID})
		   AND ('' = #{year} OR A.C_YEAR = #{year})
		   AND ('' = #{generation} OR A.GENR = #{generation})
		   AND ('' = #{semester} OR A.SEMESTER = #{semester})
		   AND ('' = #{classID} OR A.CLS_ID = #{classID})
		   AND A.STCD <> '02'
		]]>
	</select>
	
	<select id="retrieveClassInformationListForDownload" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationListForDownload */
		       A.CLS_ID                     AS "classID"
		     , A.DEPT_ID                    AS "departmentID"
		     , B.DEPT_NM                    AS "departmentName"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , C_YEAR                       AS "year"
		     , GENR                         AS "generation"
		     , SEMESTER                     AS "semester"
		     , A.STCD                       AS "statusCode"
		     , A.FRST_REG_DT                AS "firstRegisterDate"
		     , A.FRST_REG_TIME              AS "firstRegisterTime"
		     , A.LAST_CHNG_DT               AS "lastChangeDate"
		     , A.LAST_CHNG_TIME             AS "lastChangeTime"
		  FROM FRST.CLS_INFO A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.STCD <> '02'
		 WHERE (CLS_NM ILIKE '%' || COALESCE(#{searchKey}, '') || '%'
		    OR CLS_DESC ILIKE '%' || COALESCE(#{searchKey}, '') || '%')
		   AND ('' = #{departmentID} OR A.DEPT_ID = #{departmentID})
		   AND ('' = #{year} OR A.C_YEAR = #{year})
		   AND ('' = #{generation} OR A.GENR = #{generation})
		   AND ('' = #{semester} OR A.SEMESTER = #{semester})
		   AND ('' = #{classID} OR A.CLS_ID = #{classID})
		   AND A.STCD <> '02'
		 ORDER BY A.STCD
		        , A.DEPT_ID 
		        , A.CLS_ID DESC
		        , A.C_YEAR DESC 
		        , A.SEMESTER DESC 
		]]>
	</select>
	
	<select id="retrieveClassInformationStudentList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationStudentList */
		       A.CLS_ID                     AS "classID"
		     , A.C_YEAR                     AS "classYear"
		     , A.SEMESTER                   AS "semester"
		     , A.GENR                       AS "generation"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , B.STD_ID                     AS "studentID"
		     , C.FRST_NM                    AS "firstName"
		     , C.LAST_NM                    AS "lastName"
		     , C.DOB                        AS "dateOfBirth"
		     , C.GENDER                     AS "gender"
		     , C.PHONE                      AS "phoneNumber"
		     , A.STCD                       AS "statusCode"
		  FROM FRST.CLS_INFO A
		 RIGHT JOIN FRST.STD_CLS_MAP B
		    ON A.CLS_INFO_ID = B.CLS_INFO_ID 
		   AND B.STCD <> '02'
		  LEFT JOIN FRST.USER_INFO C
		    ON B.STD_ID = C.SPEC_ID 
		   AND C.STCD <> '02'
		 WHERE A.CLS_INFO_ID = #{classID}
		 ORDER BY (C.FRST_NM, C.LAST_NM)
		]]>
	</select>
	
	<select id="retrieveLastClassID" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveLastClassID */
		       CLS_ID                AS "classID"
		  FROM FRST.CLS_INFO A
		 ORDER BY CLS_ID DESC
		 LIMIT 1
		]]>
	</select>
	
	<select id="retrieveClassInformationDetailByClassInfoID" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationDetailByClassInfoID */
		       CLS_ID                       AS "classID"
		     , CLS_INFO_ID                  AS "classInfoID"
		     , C_YEAR                       AS "year"
		     , SEMESTER                     AS "semester"
		  FROM FRST.CLS_INFO A
		 WHERE CLS_INFO_ID = #{classID}
		 LIMIT 1
		]]>
	</select>
	
	<select id="retrieveClassInformationDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveClassInformationDetail */
		       A.CLS_ID                     AS "classID"
		     , A.DEPT_ID                    AS "departmentID"
		     , A.CLS_INFO_ID                AS "classInfoID"
		     , A.CLS_NM                     AS "className"
		     , A.CLS_DESC                   AS "classDesc"
		     , A.C_YEAR                     AS "classYear"
		     , A.SEMESTER                   AS "semester"
		     , A.GENR                       AS "generation"
		     , A.STCD                       AS "statusCode"
		  FROM FRST.CLS_INFO A
		 WHERE A.CLS_ID = #{classID}
		   AND A.C_YEAR = #{cyear}
		   AND A.SEMESTER = #{semester}
		]]>
	</select>
	
	<insert id="registerClassInformation">
		<![CDATA[
		INSERT /* RegisterClassInformation */
		  INTO FRST.CLS_INFO
		     ( CLS_ID
		     , C_YEAR
		     , SEMESTER
		     , CLS_INFO_ID
		     , DEPT_ID 
		     , CLS_NM 
		     , CLS_DESC 
		     , STCD
		     , GENR
		     , FRST_REG_DT
		     , FRST_REG_TIME
		     , LAST_CHNG_DT
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{classID}
		     , #{cyear}
		     , #{semester}
		     , #{classInfoID}
		     , #{departmentID}
		     , COALESCE(#{className}, '')
		     , COALESCE(#{classDesc}, '')
		     , COALESCE(#{statusCode}, '')
		     , COALESCE(#{generation}, '')
		     , COALESCE(#{firstRegisterDate}, '')
		     , COALESCE(#{firstRegisterTime}, '')
		     , COALESCE(#{lastChangeDate}, '')
		     , COALESCE(#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateClassInformation">
		<![CDATA[
		UPDATE /* UpdateClassInformation */
		       FRST.CLS_INFO 
		   SET DEPT_ID = COALESCE(#{departmentID}, DEPT_ID)
		     , CLS_NM = COALESCE(#{className}, CLS_NM)
		     , CLS_DESC = COALESCE(#{classDesc}, CLS_DESC)
		     , C_YEAR = COALESCE(#{cyear}, C_YEAR)
		     , GENR = COALESCE(#{generation}, GENR)
		     , SEMESTER = COALESCE(#{semester}, SEMESTER)
		     , STCD = COALESCE(#{statusCode}, STCD)
		     , LAST_CHNG_DT = COALESCE(#{lastChangeDate}, LAST_CHNG_DT)
		     , LAST_CHNG_TIME = COALESCE(#{lastChangeTime}, LAST_CHNG_TIME)
		 WHERE CLS_ID = #{classID}
		   AND C_YEAR = #{cyear}
		   AND SEMESTER = #{semester}
		]]>
	</update>

</mapper>
