<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.DepartmentManagementMapper">
	
	<select id="retrieveDepartmentManagementList" resultType="MData">
		<![CDATA[
		  WITH TMP AS (
		SELECT A.SPEC_ID
		     , A.ROLE_ID
		     , A.FRST_NM
		     , A.LAST_NM
		     , A.GENDER
		  FROM FRST.USER_INFO A
		 WHERE A.ROLE_ID IN ('03', '02')
		   AND A.STCD <> '02'
		)
		SELECT DISTINCT ON (A.SPEC_ID)
		       A.SPEC_ID               AS "teacherID"
		     , A.ROLE_ID               AS "roleID"
		     , A.FRST_NM               AS "firstName"
		     , A.LAST_NM               AS "lastName"
		     , A.GENDER                AS "gender"
		     , B.DEPT_ID               AS "departmentID"
		     , B.DEPT_ROLE_CD          AS "userRoleInDpm"
		  FROM TMP A
		  LEFT JOIN FRST.DEPT_MNGT B
		    ON A.SPEC_ID = B.TCH_ID 
		   AND B.STCD <> '02'
		 WHERE ('' = COALESCE(#{teacherID}, '') OR A.SPEC_ID = #{teacherID})
		   AND ('' = COALESCE(#{departmentID}, '') OR B.DEPT_ID = #{departmentID})
		 ORDER BY A.SPEC_ID
		]]>
	</select>
	
	<select id="retrieveDepartmentManagementTotalCount" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveDepartmentManagementTotalCount */
		       COUNT(*)                   AS "totalCount"
		  FROM FRST.DEPT_MNGT A
		  JOIN FRST.DEPT_INFO B
		    ON A.DEPT_ID = B.DEPT_ID
		   AND B.STCD <> '02'
		 WHERE ('' = COALESCE(#{teacherID}, '') OR A.TCH_ID = #{teacherID})
		   AND ('' = COALESCE(#{departmentID}, '') OR A.DEPT_ID = #{departmentID})
		   AND A.STCD <> '02'
		]]>
	</select>
	
	<select id="retrieveDepartmentManagementDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveDepartmentManagementDetail */
		       B.TCH_ID                     AS "teacherID"
		     , A.DEPT_ID                    AS "departmentID"
		     , A.DEPT_NM                    AS "departmentName"
		     , A.DEPT_DESC                  AS "departmentDesc"
		     , B.STCD                       AS "statusCode"
		  FROM FRST.DEPT_INFO A
		  JOIN FRST.DEPT_MNGT B
		    ON A.DEPT_ID = B.DEPT_ID
		 WHERE A.DEPT_ID = #{departmentID}
		   AND ('' = COALESCE(#{teacherID}, '') OR B.TCH_ID = #{teacherID})
		   AND ('' = COALESCE(#{departmentRoleCode}, '') OR B.DEPT_ROLE_CD = #{departmentRoleCode})
		   AND A.STCD <> '02'
		 LIMIT 1
		]]>
	</select>
	
	<insert id="registerDepartmentManagement">
		<![CDATA[
		INSERT /* RegisterDepartmentManagement */
		  INTO FRST.DEPT_MNGT
		     ( TCH_ID
		     , DEPT_ID 
		     , DEPT_ROLE_CD
		     , STCD
		     , FRST_REG_DT
		     , FRST_REG_TIME
		     , LAST_CHNG_DT
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{teacherID}
		     , #{departmentID}
		     , COALESCE(#{departmentRoleCode}, '')
		     , COALESCE(#{statusCode}, '')
		     , COALESCE(#{firstRegisterDate}, '')
		     , COALESCE(#{firstRegisterTime}, '')
		     , COALESCE(#{lastChangeDate}, '')
		     , COALESCE(#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateDepartmentManagement">
		<![CDATA[
		UPDATE /* UpdateDepartmentManagement */
		       FRST.DEPT_MNGT 
		   SET TCH_ID = COALESCE(#{teacherID}, TCH_ID)
		     , STCD = COALESCE(#{statusCode}, STCD)
		     , DEPT_ROLE_CD = COALESCE(#{departmentRoleCode}, DEPT_ROLE_CD)
		     , LAST_CHNG_DT = COALESCE(#{lastChangeDate}, LAST_CHNG_DT)
		     , LAST_CHNG_TIME = COALESCE(#{lastChangeTime}, LAST_CHNG_TIME)
		 WHERE DEPT_ID = #{departmentID}
		   AND TCH_ID = #{teacherID}
		]]>
	</update>

</mapper>
