<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.DepartmentInformationMapper">
	
	<select id="retrieveDepartmentInformationList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveDepartmentInformationList */
		       A.DEPT_ID                    AS "departmentID"
		     , A.DEPT_NM                    AS "departmentName"
		     , A.DEPT_DESC                  AS "departmentDesc"
		     , A.STCD                       AS "statusCode"
		     , A.FRST_REG_DT                AS "firstRegisterDate"
		     , A.LAST_CHNG_DT               AS "lastChangeDate"
		     , B.TCH_ID                     AS "teacherID"
		     , D.FRST_NM                    AS "firstName"
		     , D.LAST_NM                    AS "lastName"
		  FROM FRST.DEPT_INFO A
		  LEFT JOIN FRST.DEPT_MNGT B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.DEPT_ROLE_CD = '01' --Manager
		   AND B.STCD <> '09'
		  LEFT JOIN FRST.USER_INFO D 
		    ON B.TCH_ID = D.SPEC_ID 
		   AND D.STCD <> '09'
		   AND D.ROLE_ID = '02'  -- Department Manager
		 WHERE (A.DEPT_NM ILIKE '%' || COALESCE(#{searchKey}, '') || '%'
		    OR A.DEPT_DESC ILIKE '%' || COALESCE(#{searchKey}, '') || '%')
		 ORDER BY A.STCD 
		        , A.DEPT_ID DESC 
		 LIMIT #{limit}
		OFFSET #{offset}
		]]>
	</select>
	
	<select id="retrieveDepartmentInformationTotalCount" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveDepartmentInformationTotalCount */
		       COUNT(*)                   AS "totalCount"
		  FROM FRST.DEPT_INFO A
		  LEFT JOIN FRST.DEPT_MNGT B
		    ON A.DEPT_ID = B.DEPT_ID 
		   AND B.DEPT_ROLE_CD = '01' --Manager
		   AND B.STCD <> '09'
		  LEFT JOIN FRST.TCH_DETAIL D 
		    ON B.TCH_ID = D.TCH_ID 
		   AND D.STCD <> '09'
		 WHERE (A.DEPT_NM ILIKE '%' || COALESCE(#{searchKey}, '') || '%'
		    OR A.DEPT_DESC ILIKE '%' || COALESCE(#{searchKey}, '') || '%')
		]]>
	</select>
	
	<select id="retrieveDepartmentInformationDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveDepartmentInformationDetail */
		       DEPT_ID                    AS "departmentID"
		     , DEPT_NM                    AS "departmentName"
		     , DEPT_DESC                  AS "departmentDesc"
		     , STCD                       AS "statusCode"
		  FROM FRST.DEPT_INFO
		 WHERE DEPT_ID = #{departmentID}
		 LIMIT 1
		]]>
	</select>
	
	<select id="retrieveLastDepartmentID" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveLastDepartmentID */
		       DEPT_ID                    AS "departmentID"
		  FROM FRST.DEPT_INFO
		 ORDER BY DEPT_ID DESC 
		 LIMIT 1
		]]>
	</select>
	
	<insert id="registerDepartmentInformation">
		<![CDATA[
		INSERT /* RegisterDepartmentInformation */
		  INTO FRST.DEPT_INFO
		     ( DEPT_ID 
		     , DEPT_NM 
		     , DEPT_DESC 
		     , STCD
		     , FRST_REG_DT
		     , FRST_REG_TIME
		     , LAST_CHNG_DT
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{departmentID}
		     , COALESCE(#{departmentName}, '')
		     , COALESCE(#{departmentDesc}, '')
		     , COALESCE(#{statusCode}, '')
		     , COALESCE(#{firstRegisterDate}, '')
		     , COALESCE(#{firstRegisterTime}, '')
		     , COALESCE(#{lastChangeDate}, '')
		     , COALESCE(#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateDepartmentInformation">
		<![CDATA[
		UPDATE /* UpdateDepartmentInformation */
		       FRST.DEPT_INFO 
		   SET DEPT_NM = COALESCE(#{departmentName}, DEPT_NM)
		     , DEPT_DESC = COALESCE(#{departmentDesc}, DEPT_DESC)
		     , STCD = COALESCE(#{statusCode}, STCD)
		     , LAST_CHNG_DT = COALESCE(#{lastChangeDate}, LAST_CHNG_DT)
		     , LAST_CHNG_TIME = COALESCE(#{lastChangeTime}, LAST_CHNG_TIME)
		 WHERE DEPT_ID = #{departmentID}
		]]>
	</update>

</mapper>
