<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.StudentParentDetailMapper">

	<select id="retrieveStudentParentDetailList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveStudentParentDetailList */
		       STD_ID                      AS "studentID"
		     , SEQNO                       AS "seqNo"
		     , FRST_NM                     AS "firstName"
		     , LAST_NM                     AS "lastName"
		     , GENDER                      AS "gender"
		     , JOB                         AS "job"
		     , ADDR                        AS "address"
		     , PHONE                       AS "phone"
		  FROM FRST.STD_PRNT_DETAIL
		 WHERE STD_ID = #{studentID}
		 ORDER BY SEQNO
		]]>
	</select>

	<select id="retrieveStudentParentDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveStudentParentDetail */
		       STD_ID                      AS "studentID"
		     , SEQNO                       AS "seqNo"
		     , FRST_NM                     AS "firstName"
		     , LAST_NM                     AS "lastName"
		     , GENDER                      AS "gender"
		     , JOB                         AS "job"
		     , ADDR                        AS "address"
		     , PHONE                       AS "phone"
		  FROM FRST.STD_PRNT_DETAIL
		 WHERE STD_ID = #{studentID}
		   AND SEQNO = #{seqNo}
		]]>
	</select>

	<select id="retrieveLatestParentSeqNo" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveLatestParentSeqNo */
		       SEQNO                       AS "seqNo"
		  FROM FRST.STD_PRNT_DETAIL
		 WHERE STD_ID = #{studentID}
		 ORDER BY SEQNO DESC 
		 LIMIT 1
		]]>
	</select>
	
	<insert id="registerStudentParentDetail">
		<![CDATA[
		INSERT /* RegisterStudentParentDetail */
		  INTO FRST.STD_PRNT_DETAIL 
		     ( STD_ID 
		     , SEQNO 
		     , FRST_NM 
		     , LAST_NM 
		     , GENDER 
		     , JOB 
		     , PHONE 
		     , ADDR 
		     , FRST_REG_DT
		     , FRST_REG_TIME 
		     , LAST_CHNG_DT 
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{studentID}
		     , #{seqNo}
		     , COALESCE (#{firstName}, '')
		     , COALESCE (#{lastName}, '')
		     , COALESCE (#{gender}, '')
		     , COALESCE (#{job}, '')
		     , COALESCE (#{phone}, '')
		     , COALESCE (#{address}, '')
		     , COALESCE (#{firstRegisterDate}, '')
		     , COALESCE (#{firstRegisterTime}, '')
		     , COALESCE (#{lastChangeDate}, '')
		     , COALESCE (#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateStudentParentDetail">
		<![CDATA[
		UPDATE /* UpdateStudentParentDetail */
		       FRST.STD_PRNT_DETAIL 
		   SET FRST_NM = COALESCE(#{firstName}, FRST_NM)
		     , LAST_NM = COALESCE(#{lastName}, LAST_NM)
		     , GENDER = COALESCE(#{gender}, GENDER)
		     , JOB = COALESCE(#{job}, JOB)
		     , ADDR = COALESCE(#{address}, ADDR)
		     , PHONE = COALESCE(#{phone}, PHONE)
		 WHERE STD_ID = #{studentID}
		   AND SEQNO = #{seqNo}
		]]>
	</update>

</mapper>
