<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iti.thesis.helicopter.thesis.db.service.TeacherDetailMapper">

	<select id="retrieveEmployeeList" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveEmployeeList */
		       STD_ID                AS "studentID"
		     , STD_NM                AS "studentName"
		     , GENDER                AS "gender"
		     , DOB                   AS "dateOfBirth"
		     , POB                   AS "placeOfBirth"
		     , POS_DESC              AS "positionDesc"
		     , BANK_ACC_NO           AS "bankAccountNo"
		  FROM FRST.TBL_EMPLOYEE
		 ORDER BY STD_ID DESC
		 LIMIT #{limit}
		OFFSET #{offset}
		]]>
	</select>

	<select id="retrieveEmployeeTotalCount" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveEmployeeTotalCount */
		       COUNT(*)              AS "totalCount"
		  FROM FRST.TBL_EMPLOYEE
		]]>
	</select>
	
	<select id="retrieveEmployeeDetail" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveEmployeeDetail */
		       STD_ID                AS "studentID"
		     , STD_NM                AS "studentName"
		     , GENDER                AS "gender"
		     , DOB                   AS "dateOfBirth"
		     , POB                   AS "placeOfBirth"
		     , POS_DESC              AS "positionDesc"
		     , BANK_ACC_NO           AS "bankAccountNo"
		  FROM FRST.TBL_EMPLOYEE
		 WHERE STD_ID = #{studentID}
		]]>
	</select>
	
	<select id="retrieveLastTeacherID" resultType="MData">
		<![CDATA[
		SELECT /* RetrieveLastTeacherID */
		       TCH_ID                  AS "lastTeacherID"
		  FROM FRST.TCH_DETAIL
		 ORDER BY TCH_ID DESC 
		 LIMIT 1
		]]>
	</select>

	<insert id="registerTeacherDetail">
		<![CDATA[
		INSERT /* RegisterTeacherDetail */
		  INTO FRST.TCH_DETAIL
		     ( TCH_ID
		     , FRST_NM 
		     , LAST_NM 
		     , NICK_NM 
		     , GENDER 
		     , DOB 
		     , POB 
		     , CUR_ADDR 
		     , PHONE 
		     , EMAIL 
		     , IMG_URL 
		     , STCD 
		     , FRST_REG_DT
		     , FRST_REG_TIME 
		     , LAST_CHNG_DT 
		     , LAST_CHNG_TIME)
		VALUES 
		     ( #{teacherID}
		     , COALESCE(#{firstName}, '')
		     , COALESCE(#{lastName}, '')
		     , COALESCE(#{nickName}, '')
		     , COALESCE(#{gender}, '')
		     , COALESCE(#{dateOfBirth}, '')
		     , COALESCE(#{placeOfBirth}, '')
		     , COALESCE(#{address}, '')
		     , COALESCE(#{phone}, '')
		     , COALESCE(#{email}, '')
		     , COALESCE(#{imageUrl}, '')
		     , COALESCE(#{statusCode}, '')
		     , COALESCE(#{firstRegisterDate}, '')
		     , COALESCE(#{firstRegisterTime}, '')
		     , COALESCE(#{lastChangeDate}, '')
		     , COALESCE(#{lastChangeTime}, ''))
		]]>
	</insert>

	<update id="updateEmployee">
		<![CDATA[
		UPDATE /* UpdateEmployee */
		       FRST.TBL_EMPLOYEE
		   SET STD_NM = COALESCE(#{studentName}, STD_NM)
		     , GENDER = COALESCE(#{gender}, GENDER)
		     , DOB = COALESCE(#{dateOfBirth}, DOB)
		     , POB = COALESCE(#{placeOfBirth}, POB)
		     , ADDRESS = COALESCE(#{address}, ADDRESS)
		     , POS_DESC = COALESCE(#{positionDesc}, POS_DESC)
		     , BANK_ACC_NO = COALESCE(#{bankAccountNo}, BANK_ACC_NO)
		 WHERE STD_ID = #{studentID}
		]]>
	</update>

</mapper>
