*.class
.classpath
.factorypath
target/
.vscode

#common ignores
*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea/
*.iml
target/classes/META-INF/spring-configuration-metadata.json
target/classes/com/iti/thesis/helicopter/thesis/common/ErrorCode/ErrorCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/DepartmentRoleCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/StatusCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/UserRoleCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/UserStatusCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/YnTypeCode.class
target/classes/com/iti/thesis/helicopter/thesis/context/MContextHolder.class
target/classes/com/iti/thesis/helicopter/thesis/context/util/MContextUtil.class
target/classes/com/iti/thesis/helicopter/thesis/context/util/MHttpRequestUtil.class
target/classes/com/iti/thesis/helicopter/thesis/controller/BaseTemplate.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoInquiryDetail.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoInquiryList.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoLogin.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoRegister.class
target/classes/com/iti/thesis/helicopter/thesis/core/constant/CommonErrorCode.class
target/classes/com/iti/thesis/helicopter/thesis/core/constant/TYPE.class
target/classes/com/iti/thesis/helicopter/thesis/db/dao/TransactionControll.class
target/classes/com/iti/thesis/helicopter/thesis/db/dao/impl/ChannelDBDaoImpl.class
target/classes/com/iti/thesis/helicopter/thesis/db/interceptors/DBInterceptor.class
target/classes/com/iti/thesis/helicopter/thesis/db/service/DepartmentManagementMapper.class
target/classes/com/iti/thesis/helicopter/thesis/db/service/impl/DepartmentManagementMapperImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/ClassInformationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/DepartmentInformationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/DepartmentManagementServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/NewsEventServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/StudentDetailServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/TeacherDetailServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/UserAuthenticationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/UserInfoServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/util/MDateUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MGenerateIDUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MGUIDUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MNullUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MPasswordUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MResponseUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MStringUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MValidatorUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/StringUtil.class
target/classes/META-INF/spring-configuration-metadata.json
target/classes/com/iti/thesis/helicopter/thesis/common/ErrorCode/ErrorCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/DepartmentRoleCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/StatusCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/UserRoleCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/UserStatusCode.class
target/classes/com/iti/thesis/helicopter/thesis/constant/YnTypeCode.class
target/classes/com/iti/thesis/helicopter/thesis/context/MContextHolder.class
target/classes/com/iti/thesis/helicopter/thesis/context/util/MContextUtil.class
target/classes/com/iti/thesis/helicopter/thesis/context/util/MHttpRequestUtil.class
target/classes/com/iti/thesis/helicopter/thesis/controller/BaseTemplate.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoInquiryDetail.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoInquiryList.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoLogin.class
target/classes/com/iti/thesis/helicopter/thesis/controller/UserInfoRegister.class
target/classes/com/iti/thesis/helicopter/thesis/core/constant/CommonErrorCode.class
target/classes/com/iti/thesis/helicopter/thesis/core/constant/TYPE.class
target/classes/com/iti/thesis/helicopter/thesis/db/dao/TransactionControll.class
target/classes/com/iti/thesis/helicopter/thesis/db/dao/impl/ChannelDBDaoImpl.class
target/classes/com/iti/thesis/helicopter/thesis/db/interceptors/DBInterceptor.class
target/classes/com/iti/thesis/helicopter/thesis/db/service/DepartmentManagementMapper.class
target/classes/com/iti/thesis/helicopter/thesis/db/service/impl/DepartmentManagementMapperImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/ClassInformationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/DepartmentInformationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/DepartmentManagementServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/NewsEventServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/StudentDetailServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/TeacherDetailServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/UserAuthenticationServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/service/impl/UserInfoServiceImpl.class
target/classes/com/iti/thesis/helicopter/thesis/util/MDateUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MGenerateIDUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MGUIDUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MNullUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MPasswordUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MResponseUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MStringUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/MValidatorUtil.class
target/classes/com/iti/thesis/helicopter/thesis/util/StringUtil.class
